.highlight-box {
    background-color: #111827;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
}

.duplicate {
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
}

textarea {
    white-space: pre !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    font-family: monospace !important;
    word-wrap: normal !important;
}
